<a href="https://colab.research.google.com/github/juanxo90/ML_examples/blob/main/01-python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of python

This notebook is a very general introduction for python programing. Most of these concepts are very simple and does not have much explanation, nevertheless, if you are watching my notebooks and need some help to undestand some things used on the others notebooks this probably will help you.

## if. elseif, else

In [ ]:
if 1 == 2:
    print('uno')
elif 2 == 3:
    print('dos')
else:
    print('carcacha')

carcacha

## for loops

In [ ]:
# define a list
seq = [1,2,3,4,5]

In [ ]:
# for loop to print the list
for i in seq:
    print(i)

1
2
3
4
5

In [ ]:
# for loop to print the sum of every value in the list
for i in seq:
    print(i+i)

2
4
6
8
10

## while loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## list comprehension

In [ ]:
x = [1,2,3,4,5]

In [ ]:
[item**2 for item in x]

[1, 4, 9, 16, 25]

## Function

In [ ]:
def count_string(s, st):
    """
    A function that counts the number of a word or letter in a string
    s = variable with the string
    st = letter or word
    """
    count = 0
    for word in s.lower().split():
        # Need to use in, can't use == or will get error with punctuation
        if st in word:
            count += 1
            
    # Note the indentation!
    return count

In [ ]:
s = 'Wow that is a nice price, very nice Price! I said price 3 times.'

In [ ]:
count_string(s, "price")

3

In [ ]:
count_string(s, "i")

9

## map function

In [ ]:
def mult_per_2(x):
    return x *2

In [ ]:
x = [1,2,3,4,5]
list(map(mult_per_2, x))

[2, 4, 6, 8, 10]

## lambda function

In [ ]:
x = [1,2,3,4,5]
list(map(lambda i: i * 2, x))

[2, 4, 6, 8, 10]

## filters

In [ ]:
def pair(x):
    if (x % 2 == 0):
        return x

In [ ]:
x = [1,2,3,4,5,6,7]

In [ ]:
list(filter(pair, x))

[2, 4, 6]

## just random line code

In [ ]:
frase = 'Hola este es un curso bÃ¡sico de python'

# now we will count the word number in the string chain
st = frase.split()

nm = 0
for i in st:
    nm = nm + 1

print("The number of words is", nm)

The number of words is 8