<a href="https://colab.research.google.com/github/juanxo90/playing_with_python/blob/main/03_python_tabular_data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data exploration using python

the data is available in: http://www.openml.org/d/1590

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

In [3]:
census = pd.read_csv('https://raw.githubusercontent.com/juanxo90/playing_with_python/main/data/adult-census.csv')

In [4]:
# we see the first records of the data
census.head(5)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [7]:
# we will try to predict the the income by two clases (binary), we see and counting he data
target_column = "class"
census[target_column].value_counts()

 <=50K    37155
 >50K     11687
Name: class, dtype: int64

In [8]:
# we can the numerical and categorical by using info
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   education       48842 non-null  object
 3   education-num   48842 non-null  int64
 4   marital-status  48842 non-null  object
 5   occupation      48842 non-null  object
 6   relationship    48842 non-null  object
 7   race            48842 non-null  object
 8   sex             48842 non-null  object
 9   capital-gain    48842 non-null  int64
 10  capital-loss    48842 non-null  int64
 11  hours-per-week  48842 non-null  int64
 12  native-country  48842 non-null  object
 13  class           48842 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

In [10]:
from pandas.core.arrays import categorical
# from the data, is necessary to separe the categorical and numerical variables
numerical_columns = ["age", "education-num", "capital-gain",
                     "capital-loss", "hours-per-week"]

categorical_columns = ["workclass", "education", "marital-status", "occupation",
                        "relationship", "race", "sex", "native-country"]

all_columns = numerical_columns + categorical_columns + [target_column]

census = census[all_columns]

In [ ]:
# histogram of all the categories
plt.style.use('ggplot')